.bod{
    margin: auto;
    padding: auto;
    text-align: center;
    width : 70%;
}

.logo{
    width: 40px;
    height: 40px;
    margin : auto;
    display:inline-block;
    line-height:60px;
    vertical-align:middle;
}

.logo2{
    width: 40px;
    height: 40px;
    margin-left: 2%;
}

.logo3{
    width: 40px;
    height: 40px;
    margin-left: 2%;
    float : right;
}

a:link{
    text-decoration:none;
}

a:visited,hover,active{
    text-decoration:none;
}

.bcentre{
    margin-top:2%;
    clear:right;
    width:100%;
}

.log{
    margin : auto;
    border: 1px solid black;
    margin-top: 2%;
    width: 400px;
    height: 150px;
    padding : 2%;
    text-align: left;
    
}

.form{
    margin : auto;
    border: 1px solid black;
    margin-top: 2%;
    width: 80%;
    padding : 2%;
    text-align: right;
}

.infoPatient{
    margin : auto;
    border: 1px solid black;
    margin-top: 2%;
    width: 80%;
    padding : 2%;
    text-align: center;
    background-color:#CCCCCC;
}

.form3{
    margin : auto;
    border: 1px solid black;
    margin-top: 2%;
    width: 80%;
    padding : 2%;
}

.formResult{
    margin : auto;
    border: 1px solid black;
    margin-top: 2%;
    width: 80%;
    padding : 2%;
    border-collapse:collapse;
    vertical-align:middle;
}

.form2{
    margin : auto;
    margin-top: 2%;
    width: 80%;
    padding : 2%;
    text-align: center;
    color:#0080FF;
}

.texteBleu{
    color:#0080FF;
}

.texteBlanc{
    color:white;
}

.texteNoir{
    color:black;
}

.bouton{
    background-color:#99CCFF;
    text-align: center;
    display: block;
    margin: auto;
    width : 120px;
    height : 40px;
    border-radius : 10px;
}

.boutonBleu2{
    background-color:#0080FF;
    text-align: center;
    display: block;
    margin: auto;
    width : 120px;
    height : 40px;
    border-radius : 10px;
    color: white;
}

.gras{
    font-weight: bold;
}

.gris{
    font-weight: bold;
    text-align:center;
    background-color:#CCCCCC;
    
}

.gris2{
    text-align:center;
    background-color:#CCCCCC;
    
}

.souligne{
    text-decoration: underline;
}

.grascentre{
    font-weight: bold;
    text-align:center;
}

.droite{
    margin-top: 2%;
    float : right;
    width: 30%;
    margin-bottom: 5%;
}

.texteDr{
    text-align: right;
    color:black;
}

.texteGauche{
    text-align: left;
}

.textecentre{
    text-align: center;
}

.boutonBleu{
    background-color:#0080FF;
    border-radius : 10px;
    color : white;
}

.boutonVert{
    background-color:#0C6;
    border-radius : 10px;
    color:white;
}

.boutonRouge{
    background-color:red;
    border-radius : 10px;
    color:white;
    
}

.vertOK{
    background-color:#9FC;
    color:#363;
    font-weight: bold;
}

.rougeKO{
    background-color:#CC9999;
    color:#CC3300;
    font-weight: bold;
}

.corps{
    margin-top : 2%;
}

.centre{
    margin : auto;
    margin-top: 2%;
    width: 70%;
    height: 150px;
    padding: 10px;
    clear:right;
}


header{
    font-weight: bold;
}



header,footer{
    background-color:#99CCFF;
    color : white;
    margin-top : 2%;
    height : 60px;
    text-align: center;
    line-height:60px;
    vertical-align:middle;
}
